<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">
  <Identity Name="DevExpress.WinUI.Demos" Publisher="CN=Developer Express Incorporated, O=Developer Express Incorporated, L=Glendale, S=California, C=US" Version="21.1.1.21" />
  <mp:PhoneIdentity PhoneProductId="2BE88C95-2D74-4C58-ADB5-710019725675" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DevExpress WinUI Demos</DisplayName>
    <PublisherDisplayName>DevExpress</PublisherDisplayName>
    <Logo>Assets\StoreLogo50x50.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FeatureDemo.App">
      <uap:VisualElements
        DisplayName="DevExpress WinUI Demos"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="FeatureDemo"
        BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="transparent"/>
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          ShortName="DX WinUI Controls Demo"
          Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>